// Here you can add other styles
body {
    background-color: $primary-base;
}

.body {
    background-color: $primary-base;
}

.header {
    background-color: $primary-base;
    border-color: $primary-base;
}

.bg-light {
    background-color: $primary-base !important;
}